<button g43-button>Button</button>
<button class="styled" g43-button>Button styled</button>
<button disabled="true" g43-button>Button disabled</button>
<button class="styled" disabled="true" g43-button>Button styled disabled</button>
<button class="full-width" g43-button>Button full-width</button>
<button class="full-width styled" g43-button>Button full-width styled</button>
<button g43-button loading="true">Button loading text</button>
<button class="styled" g43-button loading="true"></button>
<button g43-button loading="true"></button>
<hr class="hr-divider">
<a g43-button href="#">Button</a>
<a class="styled" g43-button href="#">Button styled</a>
<a disabled="true" g43-button href="#">Button disabled</a>
<a class="styled" disabled="true" g43-button href="#">Button styled disabled</a>
<a class="full-width" g43-button href="#" style="display: block">Button full-width</a>
<a class="full-width styled" g43-button href="#" style="display: block">Button full-width styled</a>
<a g43-button href="#" loading="true">Button loading text</a>
<a class="styled" g43-button href="#" loading="true"></a>
<a g43-button href="#" loading="true"></a>
<hr class="hr-divider">
<button class="basic-input themed" g43-button>Button with global styles</button>
<button class="basic-input themed" disabled g43-button>Button with global styles</button>

