$breakpoint-tablet: 768px;

$input-border-radius: .28571429rem;

$primary-color: rgb(194, 185, 255);
$primary-color-hover: #7678f8;
$primary-color-active: #3c45e2;
$font-color: #111111;

$input-height: 1.21428571em;
$input-padding: $input-height / 2;
